asgiref==3.4.1
backports.zoneinfo==0.2.1;python_version<"3.9"
cfgv==3.3.1
crispy-tailwind==0.5.0
distlib==0.3.4
Django==4.0.2
django-crispy-forms==1.13.0
filelock==3.4.2
identify==2.4.7
nodeenv==1.6.0
Pillow==8.3.2
platformdirs==2.4.1
pre-commit==2.17.0
pytailwindcss==0.1.2
pytz==2021.3
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
virtualenv==20.13.0
amqp==5.0.6
asgiref==3.2.10
billiard==3.6.4.0
celery==5.1.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
django-celery-beat==2.2.1
eventlet==0.30.2
gunicorn==20.0.4
kombu==5.1.0
prompt-toolkit==3.0.20
psycopg2==2.9.1
pytz==2021.1
redis==3.5.3
six==1.16.0
sqlparse==0.4.2
vine==5.0.0
wcwidth==0.2.5
